<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
  <div class="par">
    <% count = 0; for (let distroId in distros) { %>
      <div class="circle a<%= (count % 5) + 1 %>" id="<%= distroId %>">
        <img class="distro-logo" alt="<%= distros[distroId].name %>" src="/res/<%= distroId %>/logo.png">
      </div>
    <% count++; } %>
  </div>

  <% for(let i = 0; i < MAX_USB; i++) { %>
  <div id="bar<%= i %>" class="progress-wrapper">
    <div class="progress-bar">
      <div class="progress-completed"></div>
      <span class="progress-center-text">0% complete</span>
    </div>
    <p>
      <span class="progress-left-text"> 0 bytes written </span>
      <span class="progress-right-text"> 0 MB/s </span>
    </p>
  </div>
  <% } %>

  </body>
</html>
