<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
  <div class="par">
    <% count = 0; for (let val of distros) { %>
      <div class="circle a<%= (count % 5) + 1 %>" id="<%= val %>">
        <img class="distro-logo" alt="<%= val %>" src="/res/<%= val %>/logo.png">
      </div>
    <% count++; } %>
  </div>

  <!-- -->
  <div class="progress-wrapper">
    <div class="progress-bar">
      <div class="progress-completed"></div>
      <span class="progress-center-text">0% complete</span>
    </div>
    <p>
      <span> 0 bytes written </span>
      <span class="progress-right-text"> 0 MB/s </span>
    </p>
  </div>
  <!-- -->

  </body>
</html>
